.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(230, 146, 230);
}
.note{
font-size: 15px;
color: black;
}
.footer{
position: fixed;
bottom: 0;
text-align: center;
background-color: dodgerblue;
line-height: 3;
width: 100%;
color: ghostwhite;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blueviolet;
}
video{
    margin-top: 90px;
    margin-left: 50px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blueviolet;
}